<a href="https://colab.research.google.com/github/tankim-prio/tankim_assignment_02/blob/main/tankim_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2.1 Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [ ]:

my_name = "tankim"
my_age = 26
fav_color = "black"

print("Name:", my_name)
print("Age:", my_age)
print("Favourite Color:", fav_color)

Name: tankim
Age: 27
Favourite Color: black

#2.2 Create one variable of each type and use the type() function to verify its type.

In [ ]:

department = 'CSE'
name = "Tankim"
age = 26
height = 5.8
student_status = True
hobbies = ["teaching", "learning", "coding", "gaming"]
degrees = ("SSC", "HSC", "BSc")
student_info = {"Name": name, "Height": height}
travel_place = {"Cox's Bazar","Tangail", "Bandarban", "Tangail"}
unique_num = {1, 32, 12, 31, 43}
paper_publish = None

print("department is",type(department))
print("name is", type(name))
print("age is", type(age))
print("height is", type(height))
print("student_status is", type(student_status))
print("hobbies is", type(hobbies))
print("degrees is", type(degrees))
print("student_info is", type(student_info))
print("travel_place is", type(travel_place))
print("unique_num is", type(unique_num))
print("paper_publish is", type(paper_publish))

department is <class 'str'>
name is <class 'str'>
age is <class 'int'>
height is <class 'float'>
student_status is <class 'bool'>
hobbies is <class 'list'>
degrees is <class 'tuple'>
student_info is <class 'dict'>
travel_place is <class 'set'>
unique_num is <class 'set'>
paper_publish is <class 'NoneType'>

# 2.3 Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [ ]:
length = 7
width = 5

area = length * width
p_meter = 2*(length + width)

print("Area of rectangle is:", area)
print("Perimeter of rectangle is:", p_meter)

Area of rectangle is: 35
Perimeter of rectangle is: 24

# 2.4 Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [ ]:
foods = ["Panta Bhat", "Kacchi Biryani", "Shorshe Ilish", "Fuchka", "Bhuna Khichuri"]
print("List of Bangladeshi foods:", foods)
print("First food:", foods[0])
print("Last food:", foods[4])

List of Bangladeshi foods: ['Panta Bhat', 'Kacchi Biryani', 'Shorshe Ilish', 'Fuchka', 'Bhuna Khichuri']
First food: Panta Bhat
Last food: Bhuna Khichuri

# 2.5 Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
numbers = [24, 32, 67, 43, 50]

print("List of numbers:", numbers)
numbers.append(71)
print("Add new number:", numbers)

numbers.remove(67)
print("Remove one number:", numbers)

numbers.sort()
print("Sort list:", numbers)

List of numbers: [24, 32, 67, 43, 50]
Add new number: [24, 32, 67, 43, 50, 71]
Remove one number: [24, 32, 43, 50, 71]
Sort list: [24, 32, 43, 50, 71]

# 2.6 Create a dictionary about yourself with at least 4 key-value pairs

In [ ]:
about_me = {

"name": "Tankim",
"age": 26,
"occupation": "Software Developer",
"programming_skills":["Java", "Javascript", "Dart"],
"hobbies": ["Reading", "Coding", "Traveling"],
"fav_color": ["Black", "Green"]

}

print("My name is:", about_me["name"])
print("I am:", about_me["age"], "years old")
print("My hobbies are:", about_me["hobbies"])
print(about_me["fav_color"], "are my favourite colors")

My name is: Tankim
I am: 26 years old
My hobbies are: ['Reading', 'Coding', 'Traveling']
['Black', 'Green'] are my favourite colors

# 2.7 Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:
sundarbans_coordinates = (21.9497, 89.1833)

print("Sundarbans Coordinates:", sundarbans_coordinates)
print("Type:", type(sundarbans_coordinates))
print("Latitide:", sundarbans_coordinates[0])
print("Longitude:", sundarbans_coordinates[1])

Sundarbans Coordinates: (21.9497, 89.1833)
Type: <class 'tuple'>
Latitide: 21.9497
Longitude: 89.1833

# 2.8 Write a program that checks if a number is positive, negative, or zero

In [ ]:
num = 0

if num >= 0:
   apply = "Positive"
elif num <= 0:
   apply = "Negative"
else:
   apply = "Zero"

print("Your given number is:", {apply})

Your given number is: Positive

# 2.10 Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).

In [ ]:
age = int(input("Enter your age: "))
print("Select your status:")
print("1. Student")
print("2. Senior")
print("3. Neither")
choice = input("Enter choice (1-3): ")

if (choice == "1" and age < 25) or (choice == "2" and age >= 60):
    print("You will get discount!")
else:
    print("You won't get discount.")

Enter your age: 76
Select your status:
1. Student
2. Senior
3. Neither
Enter choice (1-3): 2
You will get discount!

# 2.11 Write a program that prints the first 10 even numbers using a for loop or while loop

In [ ]:
print("\n Here is the fisrt 10 even numbers:")

number = 0
even_count = 0

while True:
    number += 1
    if number % 2 == 0:
        print(number)
        even_count += 1
    if even_count == 10:
        break

 Here is the fisrt 10 even numbers:
2
4
6
8
10
12
14
16
18
20

2.12 Write a program that prints a simple number pyramid pattern using nested loops

In [ ]:

rows = 5

for i in range(1, rows + 1):

    spaces = " " * (rows - i)

    numbers = "".join(f"{j} " for j in range(1, i + 1))

    print(f"{spaces}{numbers}")

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

# 2.13 Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32

In [ ]:

def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

temp_c = 25
temp_f = celsius_to_fahrenheit(temp_c)
print("Celsius:",f"{temp_c}°C is equal to Fahrenheit: {temp_f}°F")  # 25°C is equal to 77.0°F

Celsius: 25°C is equal to Fahrenheit: 77.0°F

# 2.14 Create a function with default parameters that calculates the area of a rectangle.

In [43]:

def rectangle_area():
    length = int(input("Enter length: "))
    width = int(input("Enter width: "))
    area = length * width
    print(f"The area of the rectangle is {area}")

rectangle_area()

Enter length: 5
Enter width: 6
The area of the rectangle is 30